.eventbrite-logo {
	width: 250px;
	align-self: center;
}

.events-index {
	background: linear-gradient(to right, orangered, darkorange, orange);
	max-height: 100vh;
	overflow-y: scroll;
	margin: 20px;
	min-width: 40%;
	border: 1px solid black;
	padding-top: 10px;
}

.events-item {
	background: white;
	margin: 10px;
	border: 1px solid grey;
	padding: 10px;
	border-radius: 10px;
	opacity: .9;
}

.events-left {
	min-width: 150px;
	color: #7C7575;
}

.events-center {
	width: 400px;
}
.events-right {
	align-self: center;
}

.search-index {
	min-width: 100%;

}

.search-form {
	padding: 10px;
	justify-content: center;
}

.search-input {
	border-bottom: 1px solid black;
	margin: 5px;
}

.date-class {
	color: white;
	align-self: center;
}
