.events-index {
	background: white;
	max-height: 100vh;
	overflow-y: scroll;
	margin: 20px;
	max-width: 50%;
}

.events-item {
	background: white;
	margin: 10px;
	border: 1px solid grey;
	padding: 10px;
}

.events-left {
	min-width: 150px;
	color: #7C7575;
}

.events-right {
	align-items: flex-end;
}

.search-index {
	min-width: 100%;

}

.search-form {
	padding: 10px;
	justify-content: center;
}

.search-input {
	border-bottom: 1px solid black;
	margin: 5px;
}