html, body, header, h1,
nav, h2, ul, h3, h4, input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html {
	position: relative;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

h1 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

