
.splash-image{
  height: 100vh;
  background-image: url(https://res.cloudinary.com/deh9l9lyq/image/upload/v1495830980/joseph-yates-165101_im4z9z.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;

  min-height: 500px;
  min-width: 500px;
}

.splash-search-outer-container{
  /*background: yellow;*/
  width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.splash-search-inner-container{
  background: rgba(0,0,0,0.6);
  width: 700px;
  height: 250px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.splash-search-form{
  height: 225px;
}

.splash-search-input-container{
}

.splash-search-input{
  /*background: white;*/
  background: rgba(250,250,250,0.9);
  border: black solid 1px;
  width: 600px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.splash-input-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.splash-input-city{
  background: rgba(250,250,250,0.9);
  border: black solid 1px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}

.splash-input-zipcode{
  /*background: white;*/
  background: rgba(250,250,250,0.9);
  border: black solid 1px;
  margin: 0 10px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}

.splash-input-radius{
  height: 42px;
  opacity: 0.9;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.splash-date-picker-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.splash-date-picker{
  background-color: white;
  background: rgba(250,250,250,0.9);
  height: 50px;
  border: black solid 1px;;
  border-radius: 5px;
  padding: 0px 15px;
  margin: 0px 5px;
}

.splash-input-submit-container{
  text-align: center;
  margin-top: 20px;
}

.splash-input-submit{
  cursor: pointer;
  background-color: Transparent;
  color: white;
  border: 1px solid white;
  height: 30px;
  width: 100px;
  border-radius: 5px;
}

.splash-input-submit:hover {
  background: rgb(43, 42, 42);
}

.splash-logo {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
}

.splash-logo h1 {
  font-size: 210px;
  align-self: center;
}

.splash-logo h4 {
  font-size: 60px;
  margin-top: -60px;
}
